<%= stylesheet_link_tag    'main_index', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'main_index', 'data-turbolinks-track': 'reload' %>
<h1>Good Morning!</h1>
<h2>Welcome all!!!!!11</h2>
<h3>Have a great day!!</h3>
<img src="assets/index.png">
<%= image_tag "images.jpeg" %>
<button onclick="myFunction()">Try it</button>